/* Add the following styles at the end of your existing CSS */

@media (max-width: 768px) {
  .message {
    /* flex-direction: column; */
    align-items: center;
  }

  .avatar {
    margin-bottom: 10px; /* Add some space between avatar and text in smaller screens */
  }

  .text {
    text-align: center;
  }

  .today-transaction {
    grid-template-columns: 1fr; /* Change to a single column layout */
  }
}

.message {
  display: flex;
  width: 100%;
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
  box-shadow: 0.053rem 0.053rem 0.5rem 0 #8690a3; /* Adjusted box shadow values */
}
.text h1 {
  margin-bottom: 0px;
  text-align: left;
  padding-left: 20px;
}

.text h4 {
  font-size: 14px;
  margin-top: 0px;
  padding-left: 20px;
  text-align: left;
  color: black;
}
.today-transaction {
  padding-top: 10px;
  display: grid;
  text-align: left;
}
.text {
  width: 100%;
}
.amount {
  height: auto;
}
.sub h4 {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: gray;
}
.amount h4 {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 0px;
  margin-bottom: 0px;
  color: gray;
}
.amount h1 {
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 27px;
}
.amount h3 {
  margin-bottom: 0px;
  margin-top: 5px;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.dropdown-button {
  padding: 15px 30px 15px;
  width: 100%;
  font-size: 15px;
  background-color: #5034fc;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Add this property to give border curvature */
}



.arrow-down {
  margin-left: 5px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  z-index: 1;
  width: 100%;
  list-style-type: none;
  padding: 15px 0px 15px;
  margin: 0;
  display: none;
  color: #fff;
  background-color: #5034fc;
  border: 1px solid #ddd;
}
.recent {
  width: fit-content;
}
.dropdown-list li {
  padding: 5px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #ddd;
}

.dropdown-container:hover .dropdown-list {
  display: block;
}

.transactions h4 {
  opacity: 0.7;
  margin: 0px;
  color: gray;
}
.transactions h3 {
  font-size: 12px;
}
